.titulo{
    font-family: "Shrikhand", cursive;
    font-size: 4rem;
    padding: 2rem 0 0 0;
    color: var(--destaque);
    text-shadow: 1px 2px var(--detalhe-secundario);
    text-align: center;
}

.titulo-secundario{
    font-family: "Shrikhand", cursive;
    color: var(--fonte-principal);
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}

.desenvolvemos__container{
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

.desenvolvemos__container--card{
    width: 18vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto 1rem auto;
    background-color: var(--detalhe-secundario);
}

.about__container--card{
    display: grid;
    grid-template-columns: 8rem 30vh;
    padding: 0.5rem 1rem;
    margin: 1rem 2rem;
    background-color: var(--detalhe-secundario);
    width: 50%;
}

.about__container--card::before{
    margin: 1rem 0 1rem 0;
}

.about__container{
    display: flex;
    width: 70vw;
    margin: 0 auto;
}

@media screen and (max-width: 915px) {
    .titulo-secundario{
        font-size: 1.5rem;
    }
    
    .desenvolvemos__container{
        display: grid;
        padding: 0.5rem 0.8rem;
        grid-template-columns: 50% 50%;
        width: auto;
        margin: 0;
    }

    .desenvolvemos__container--card{
        width: 93%;
    }

    .about__container--card{
        grid-template-columns: 8rem 60vw;
        margin: 1rem 0;
    }

    .about__container{
        display: inline;
        margin: 0;
    }
}

.principal {
    background-color: var(--fundo-terciario);
    background-position: center;
    background-size: cover;
    padding: 2rem;
}

.principal__descricao{
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding: 0 0.8rem 1rem 0.8rem;
}

.desenvolvemos__img{
    height: 8rem;
    margin: 0 auto;
}

.white__img{
    filter: invert(100%);
}

.desenvolvemos__direitos{
    font-size: 0.7rem;
    text-align: center;
    padding: 0.3rem 0 0.7rem 0;
}

.desenvolvemos__direitos--link {
    text-decoration: none;
    color: white;
}

.desenvolvemos__titulo{
    color: var(--destaque);
    margin: 0.9rem 0;
    text-align: center;
    font-family: "Shrikhand", sans-serif;
    font-size: 1.2rem;
    text-shadow: 1px 2px var(--detalhe-terciario);
}

.desenvolvemos__titulo-principal{
    font-size: 2rem;
    padding: 1.2rem 0 0.9rem 0;
}

.about__img{
    height: 6rem;
    padding: 0 0 0 0.5rem;
    margin: auto 0;
}

.about__nome{
    font-family: "Shrikhand", cursive;
    color: var(--fonte-principal);
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
    text-shadow: 1px 2px var(--detalhe-secundario);
}

.about__descricao{
    color: var(--fonte-principal);
    font-family: "Roboto", cursive;
}
