.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--cabecalho-espacamento) 1rem;
    background-color: var(--fundo-principal);
    border-bottom: 3px solid var(--detalhe-secundario);
}

.logo__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    height: var(--logo-tamanho);
}

@media screen and (max-width: 915px) {
    .logo__img{
        display: none;
    }

    .cabecalho{
        justify-content: center;
        align-items: center;
        height: calc(var(--cabecalho-espacamento) + var(--logo-tamanho));
        width: 100%;
        padding: var(--cabecalho-espacamento) 0;
    }

    .navegacao__item{
        font-size: 1rem;
    }

    .navegacao__item:first {
        padding: 0;
    }

    .navegacao__item:last-child{
        padding: inherit 0 0 0;
    }
}

.navegacao{
    display: flex;
    flex-direction: row;
    font-family: "Roboto", cursive;
    font-weight: 300;
    color: var(--fonte-principal);
}

.navegacao__icon{
    height: 1rem;
    padding: 0 0.3rem;
}

.navegacao__link{
    text-decoration: none;
    color: var(--fonte-principal);
}

.navegacao__link:visited {
    text-decoration: none;
}

.navegacao__item{
    padding: 0 0.5rem;
}

.conteudo {
    background-color: var(--fundo-secundario);
    width: 100%;
}

body{ 
    background-color: var(--fundo-secundario);
}